<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/share_twstudy/demo/404.php" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
            <outboundRules>
                <rule name="Front Set 7day Cache Header">
                    <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="\.(jpg|gif|png|js|css)(\?.*)?$" />
                    </conditions>
                    <action type="Rewrite" value="max-age=604800" />
                </rule>
                <rule name="Front Set 30day Cache Header">
                    <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="apple-touch-icon.png|\.(ico|otf|eot|svg|woff2?|ttf)(\?.*)?$" />
                    </conditions>
                    <action type="Rewrite" value="max-age=2592000" />
                </rule>
                <rule name="Front Remove ETag Header">
                    <match serverVariable="RESPONSE_ETag" pattern=".+" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="\.(jpg|gif|png|ico|js|css)(\?.*)?$" />
                    </conditions>
                    <action type="Rewrite" value="" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>