/* === REGISTER === */
.main {
  background: #eee;
  padding-bottom: 60px;
}
.main .content {
  background: #fff;
  padding: 70px 15px;
}
.main .content .inner-content {
  width: 100%;
  margin: 0 auto;
  max-width: 1010px;
}
.main .content .inner-content[data-plugin="scroll-view"] {
  opacity: 0;
  -moz-transform: translate(0, 5%);
  -ms-transform: translate(0, 5%);
  -webkit-transform: translate(0, 5%);
  transform: translate(0, 5%);
  -moz-transition: opacity 0.5s, -moz-transform 0.5s;
  -o-transition: opacity 0.5s, -o-transform 0.5s;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
}
.main .content .inner-content.scroll-view {
  opacity: 1;
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.main .subtitle {
  text-align: center;
  position: relative;
  font-size: 1.75rem;
  padding: 0 0 15px 0;
  margin: 0 auto 45px auto;
}
.main .subtitle:before {
  content: "";
  width: 83px;
  height: 1px;
  background: #f97141;
  bottom: 0;
  left: 50%;
  margin-left: -41px;
  position: absolute;
}
.main .term-box {
  overflow-y: auto;
  height: 270px;
  width: 100%;
  border: 1px solid #dcdcdc;
  padding: 20px 30px;
}
.main .term-box h3 {
  font-size: 1.125rem;
  margin: 0 auto 10px auto;
  padding: 0;
}
.main .term-box h3 i {
  font-size: 0.8em;
  font-style: normal;
}
.main .term-box h4 {
  font-size: 1.0625rem;
  margin: 0 auto 10px auto;
  padding: 0;
}
.main .term-box p {
  margin: 0 auto 15px auto;
}

@media (max-width: 1299px) {
  .main .subtitle {
    font-size: 1.5rem;
  }
}
@media (max-width: 991px) {
  .main .content {
    padding: 50px 15px;
  }
  .main .subtitle {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  .main {
    padding-bottom: 0 !important;
  }
  .main .content {
    padding: 30px 15px;
    margin: 0 -15px;
  }
  .main .subtitle {
    font-size: 1.2rem;
  }
  .main .subtitle span {
    display: block;
  }
  .main .term-box {
    padding: 15px;
  }
}
@media (max-width: 499px) {
  .main .subtitle {
    font-size: 1.0625rem;
  }
  .main .subtitle span {
    display: inline;
  }
}


/* === Form Module === */
/* STAR */
.star {
  font-size: 1rem;
  line-height: 1;
  color: #f97141;
  display: inline-block;
  position: absolute;
  top: 12px;
  left: -3px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

@media (max-width: 639px) {
  .star {
    top: 5px;
  }
}
/* LABEL */
.label-style {
  font-size: 1.125rem;
  padding: 0 10px 0 5px;
  margin: 0;
  display: inline-block;
  white-space: nowrap;
  border: none;
  width: 90px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 44px;
}

@media (max-width: 639px) {
  .label-style {
    width: auto;
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 5px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
.form-box {
  display: block;
  position: relative;
  margin: 0 0 30px 0;
  padding: 0 75px 0 90px;
}
.form-box.term {
  padding-left: 0;
  padding-right: 0;
}
.form-box.term .label-style {
  position: relative;
  top: auto;
  left: auto;
}

@media (max-width: 639px) {
  .form-box {
    padding: 0;
  }
}
.link-forgetpwd {
  position: absolute;
  right: 0;
  top: 5px;
  width: auto;
  font-size: 0.875rem;
  color: #f97141;
  display: inline-block;
  border-bottom: 1px solid #f97141;
}
.link-forgetpwd:hover {
  color: #f2531b;
  border-bottom: 1px solid #f2531b;
}

@media (max-width: 767px) {
  .link-forgetpwd {
    top: -5px;
  }
}
/* CODE */
.form-box.code {
  width: 100%;
  max-width: 500px;
  padding-left: 90px;
  padding-right: 185px;
  display: inline-block;
  vertical-align: middle;
}

.codeimg {
  width: 175px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 991px) {
  .form-box.code {
    max-width: 100%;
  }
}
@media (max-width: 639px) {
  .form-box.code {
    padding-left: 0;
  }
}
.form-agree {
  margin: 0 auto 10px auto;
  padding-left: 35px;
}
.form-agree a {
  display: inline-block;
  color: #f97141;
}
.form-agree a:hover {
  color: #f2531b;
  text-decoration: underline;
}
.form-agree .checkbox-style {
  padding-left: 0;
  margin-left: 0;
}
.form-agree .checkbox-style input + span {
  margin-left: -30px;
}

.input-style {
  background: #fff;
  height: 44px;
  padding: 0 10px;
  width: 100%;
  display: block;
  outline: none;
  border: 1px solid #e4e4e4;
  -moz-transition: border 0.15s;
  -o-transition: border 0.15s;
  -webkit-transition: border 0.15s;
  transition: border 0.15s;
}
.input-style:focus {
  border: 1px solid #666;
}

/* CHECKBOX */
.checkbox-style {
  padding: 0;
  margin: 0 10px 0 0;
  display: inline-block;
  font-weight: normal;
}
.checkbox-style input {
  outline: none;
  display: none;
}
.checkbox-style input + span {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #dcdcdc;
  background: none;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0 8px 3px 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  -webkit-transition: background 0.15s;
  transition: background 0.15s;
}
.checkbox-style input + span i {
  display: inline-block;
  vertical-align: top;
  margin: 7px 0 0 8px;
  width: 11px;
  height: 6px;
  border-left: 2px solid #999;
  border-bottom: 2px solid #999;
  -moz-transform: scale(0) rotate(-45deg);
  -ms-transform: scale(0) rotate(-45deg);
  -webkit-transform: scale(0) rotate(-45deg);
  transform: scale(0) rotate(-45deg);
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}
.checkbox-style input:checked + span {
  border-color: #999;
}
.checkbox-style input:checked + span i {
  -moz-transform: scale(1) rotate(-45deg);
  -ms-transform: scale(1) rotate(-45deg);
  -webkit-transform: scale(1) rotate(-45deg);
  transform: scale(1) rotate(-45deg);
}
.checkbox-style:hover input + span, .checkbox-style:active input + span {
  border-color: #999;
}
.checkbox-style:hover input:checked + span, .checkbox-style:active input:checked + span {
  border-color: #999;
  background: #fff;
}
.checkbox-style:hover input:checked + span i, .checkbox-style:active input:checked + span i {
  border-left: 2px solid #999;
  border-bottom: 2px solid #999;
}

/* BUTTON */
.btn-wrap {
  margin: 50px auto;
  padding: 0;
  text-align: center;
}

@media (max-width: 639px) {
  .btn-wrap {
    margin: 30px auto;
  }
}
.btn-default {
  height: 60px;
  max-width: 190px;
  padding: 0 35px;
  border: none;
  line-height: 60px;
  color: #fff;
  font-size: 1.125rem;
  cursor: pointer;
}
.btn-default:before {
  content: "";
  width: 32px;
  height: 32px;
  margin-top: -5px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../images/icon-btn-contact.png);
  background-repeat: no-repeat;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}
.btn-default.btn-reset {
  background: #525252;
  margin-right: 10px;
}
.btn-default.btn-reset:before {
  background-position: 0 0;
}
.btn-default.btn-reset:hover {
  background: #333;
}
.btn-default.btn-submit {
  background: #f97141;
}
.btn-default.btn-submit:before {
  background-position: 100% 0;
}
.btn-default.btn-submit:hover {
  background: #F95A3E;
}

@media (max-width: 639px) {
  .btn-default {
    height: 44px;
    line-height: 44px;
    width: calc( 50% - 14px);
    padding: 0 5px;
    margin: 0;
    font-size: 0.9375rem;
  }
  .btn-default:before {
    width: 26px;
    height: 26px;
  }
  .btn-default.btn-submit {
    margin-right: 0;
  }
  .btn-default.btn-reset {
    margin-right: 10px;
  }
}

/*# sourceMappingURL=custom_register_ismember.css.map */
