/* === FQA - VIEW === */
.main {
  background: #f9f9f9;
}
.main .subtitle {
  position: relative;
  margin-bottom: 20px;
}
.main .subtitle[data-plugin="scroll-view"] {
  opacity: 0;
  -moz-transform: translate(0, 5%);
  -ms-transform: translate(0, 5%);
  -webkit-transform: translate(0, 5%);
  transform: translate(0, 5%);
  -moz-transition: opacity 0.5s, -moz-transform 0.5s;
  -o-transition: opacity 0.5s, -o-transform 0.5s;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
}
.main .subtitle.scroll-view {
  opacity: 1;
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.main .subtitle:after {
  content: "";
  width: 10px;
  background: #f9f9f9;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  right: -5px;
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  transform: skew(-20deg);
}
.main .subtitle:before {
  content: "";
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -5px;
  height: 10px;
  background: url(../images/bg-slash.png) repeat-x 0 0;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}
.main .subtitle > h3 {
  z-index: 1;
  font-size: 1.875rem;
  line-height: 1;
  padding: 0 15px 0 50px;
  position: relative;
  display: inline-block;
  font-weight: 400;
  color: #222;
}
.main .subtitle > h3 span {
  position: relative;
  z-index: 2;
}
.main .subtitle > h3:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -5px;
  width: 43px;
  height: 43px;
  margin-top: -21px;
  background: url(../images/icon-lamp.png) no-repeat 0 0;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}
.main .subtitle > h3:after {
  content: "";
  background: #f9f9f9;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  transform: skew(-20deg);
}
.main .fqa-view-list {
  margin: 0 0 40px 40px;
  padding: 0;
  list-style: none;
  counter-reset: mynum;
}
.main .fqa-view-list[data-plugin="scroll-view"] li {
  opacity: 0;
  -moz-transform: translate(0, 5%);
  -ms-transform: translate(0, 5%);
  -webkit-transform: translate(0, 5%);
  transform: translate(0, 5%);
  -moz-transition: opacity 0.5s, -moz-transform 0.5s;
  -o-transition: opacity 0.5s, -o-transform 0.5s;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
}
.main .fqa-view-list[data-plugin="scroll-view"] li.shown {
  opacity: 1;
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.main .fqa-view-list li {
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
}
.main .fqa-view-list li:nth-child(2) {
  border-top: none;
}
.main .fqa-view-list li:nth-child(-n+9) .fqa-q:before {
  content: "0" counter(mynum);
}
.main .fqa-view-list li.current .fqa-q:before {
  background: #eb8662;
}
.main .fqa-view-list li .fqa-q {
  cursor: pointer;
  font-size: 1.0625rem;
  color: #222;
  padding: 15px 15px 15px 45px;
  display: block;
  position: relative;
  -moz-transition: color 0.12s;
  -o-transition: color 0.12s;
  -webkit-transition: color 0.12s;
  transition: color 0.12s;
}
.main .fqa-view-list li .fqa-q:before {
  counter-increment: mynum;
  content: counter(mynum);
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 0;
  line-height: 29px;
  text-align: center;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background: #525252;
  -moz-transition: background 0.12s;
  -o-transition: background 0.12s;
  -webkit-transition: background 0.12s;
  transition: background 0.12s;
}
.main .fqa-view-list li .fqa-q:hover {
  color: #666;
}
.main .fqa-view-list li .fqa-q:hover:before {
  background: #eb8662;
}
.main .fqa-view-list li .fqa-a {
  display: block;
  background: #f6ebe7;
  padding: 25px 40px;
  line-height: 2;
  font-size: 1rem;
}

@media (max-width: 991px) {
  .main .subtitle > h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .main .fqa-view-list {
    margin: 0;
  }
  .main .fqa-view-list li .fqa-a {
    padding: 20px;
  }
  .main .fqa-view-list li .fqa-q {
    padding-left: 40px;
  }
  .main .subtitle {
    margin-bottom: 10px;
  }
  .main .subtitle:before, .main .subtitle:after {
    display: none;
  }
  .main .subtitle > h3 {
    font-size: 1.2rem;
    padding-left: 40px;
  }
  .main .subtitle > h3:before {
    top: -12px;
    margin-top: 0;
  }
}

/*# sourceMappingURL=custom_fqa_view.css.map */
